.about{

    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 10%;
    margin-left: 25px;
    width:90%;
    height: 70%;
    box-shadow: 10px 10px 40px 10px orange;
    border-radius: 40px;
    font-size: larger;
    padding: 45px;
}
.about:hover{
    /* width:100%; */
    padding: 2%;
    display:grid;
}

  