.education{
    background-color:rgb(77, 161, 133) ;
    text-align: center;
    color: white;
    margin-top: 25%;
    width:90%;
    box-shadow: 0 20px 20px 0 gray;
    font-size: larger;
    border-radius: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-left: auto;
    padding-left: auto;
    
}