.education{
    
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-left: 10px;
    width:40%;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;

}
.e1-container{
    display: flex; 
    width: 30%;
   
}
.e1{
    flex:0;
    /* justify-content: space-around; */
    flex-direction:row;
    box-shadow: 5px 5px 10px 5px orange;
    border-radius: 10px;
    padding: 10px;
    width:90%;

}
#details:hover{
    transition: width 2s linear 1s;
    color: orange;
}
.e1:hover{
    /* width:100%; */
    padding: 5%;
    display:grid;
    flex:1;
}
table{
    margin-left:auto;
    margin-right: auto;
    padding-left: 30px;
    padding: 30px;
    text-align: center;
}