.skills{

    text-align: center;
    color: white;
    margin-top: 5%;
    margin-left: 25px;
    width:90%;
    box-shadow: 10px 10px 40px 10px orange;
    border-radius: 40px;
    padding: 10px;
    list-style: none;
    font-size: larger;

}
li{
    list-style: none;
}

.ui-widgets { 
    position: relative; 
    display:inline-block; 
    width: 10rem; 
    height: 10rem; 
    border-radius: 9rem; 
    margin:1.5rem; 
    border: 1.2rem solid white; 
    box-shadow: inset 0 0 7px grey; 
    /* border-left-color:rgb(255, 174, 0);  */
    border-top-color:orange ; 
    border-right-color:orange; 
    border-left-color: orange;
    border-bottom-color: white ; 
    text-align: center; 
    box-sizing: border-box; 
} 
.ui-widgets .ui-values { 
    top: 40px; 
    position: absolute; 
    left: 10px; 
    right: 0; 
    font-weight: 700; 
    font-size: 2.0rem;
}
.ui-widgets .ui-labels { 
  
    left: 0; 
    bottom: -16px; 
    text-shadow: 0 0 4px grey; 
    color: black; 
    position: absolute; 
    width: 100%; 
    font-size: 16px; 
} 
/* .labels .ui-labels{
    /* flex:1; */
    /* display: inline-block;
    padding: 80px;
    padding-bottom: 0; */
    /* justify-content: space-between;
    justify-content: space-around;
    flex-direction: column; */
.labels .ui-labels{
        /* flex:1; */
        display: inline-block;
        padding: 80px;
        padding-bottom: 0;
        /* justify-content: space-between;
        justify-content: space-around;
        flex-direction: column; */
    }